<div id="generic_price_table">   
  <section>
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <!--PRICE HEADING START-->
                      <div class="price-heading clearfix">
                          <h1>Regime de tributação PJ</h1>
                      </div>
                      <!--//PRICE HEADING END-->
                  </div>
              </div>
          </div>
          <div class="container">
            <div id="fatura">
              <div class="row">
                <div class="col-sm-6">
                  <label>Faturamento mensal previsto:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="input">R$</span>
                    </div>
                    <input class="form-control" id="input" maxlength="9" placeholder="1000" (input)="mudancaValor($any($event.target).value)"/>
                    <div class="input-group-append">
                      <span class="input-group-text" id="input">,00</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group input-group-lg" *ngIf="fatura">
                    <label>Lucro mensal previsto:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="input">R$</span>
                      </div>
                      <input class="form-control" id="input" maxlength="9" placeholder="200" (input)="mudancaLucro($any($event.target).value)"/>
                      <div class="input-group-append">
                        <span class="input-group-text" id="input">,00</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <br />
            <div class="container">
              <div class="row">
                <div class="col-sm-3">
                  <!--PRICE CONTENT START-->
                    <div [ngClass]="melhorMei" *ngIf="impostoMei">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>MEI</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price">
                                    <span class="sign">R$</span>
                                    <span class="currency">{{ impostoMei | formatacaoReal:"R" }}</span>
                                    <span class="cent">,{{ impostoMei | formatacaoReal:"C" }}</span>
                                    <span class="month">/MÊS</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>

                <div class="col-sm-3">
                  <!--PRICE CONTENT START-->
                    <div [ngClass]="melhorSimples" *ngIf="impostoSimples">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Simples</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price">
                                    <span class="sign">R$</span>
                                    <span class="currency">{{ impostoSimples | formatacaoReal:"R" }}</span>
                                    <span class="cent">,{{ impostoSimples | formatacaoReal:"C" }}</span>
                                    <span class="month">/MÊS</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>

                <div class="col-sm-3">
                  <!--PRICE CONTENT START-->
                    <div [ngClass]="melhorPresumido" *ngIf="impostoPresumido">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Lucro Presumido</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price">
                                    <span class="sign">R$</span>
                                    <span class="currency">{{ impostoPresumido | formatacaoReal:"R" }}</span>
                                    <span class="cent">,{{ impostoPresumido | formatacaoReal:"C" }}</span>
                                    <span class="month">/MÊS</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>

                <div class="col-sm-3">
                  <!--PRICE CONTENT START-->
                    <div [ngClass]="melhorReal" *ngIf="lucro && !erro">
                        
                        <!--HEAD PRICE DETAIL START-->
                        <div class="generic_head_price clearfix">
                        
                            <!--HEAD CONTENT START-->
                            <div class="generic_head_content clearfix">
                            
                              <!--HEAD START-->
                                <div class="head_bg"></div>
                                <div class="head">
                                    <span>Lucro Real</span>
                                </div>
                                <!--//HEAD END-->
                                
                            </div>
                            <!--//HEAD CONTENT END-->
                            
                            <!--PRICE START-->
                            <div class="generic_price_tag clearfix">  
                                <span class="price">
                                    <span class="sign">R$</span>
                                    <span class="currency">{{ impostoReal | formatacaoReal:"R" }}</span>
                                    <span class="cent">,{{ impostoReal | formatacaoReal:"C" }}</span>
                                    <span class="month">/MÊS</span>
                                </span>
                            </div>
                            <!--//PRICE END-->
                            
                        </div>                            
                        <!--//HEAD PRICE DETAIL END-->
                        
                        
                    </div>
                    <!--//PRICE CONTENT END-->
                </div>
              </div>
              <div class="avisos">
                <div id="aviso" *ngIf="!fatura"> 
                  Por favor, informe o faturamento.
                </div>
                <div id="aviso" *ngIf="fatura && !lucro && !impostoMei && !impostoSimples && !impostoPresumido">
                  <br />
                  Por favor, informe o lucro previsto.
                </div>
                <span id="aviso" *ngIf="impostoMei || impostoSimples || impostoPresumido">
                  *Conforme o tipo de atividade, os valores e regimes de tributação disponíveis podem sofrer alteração.
                </span>
                
              </div>
            </div>
        </section>             
    </div>